.gitattributes !filter !diff
gameoflife-core/pom.xml filter=git-crypt-prod-users diff=git-crypt-prod-users
gameoflife-build/pom.xml filter=git-crypt diff=git-crypt
gameoflife-deploy/pom.xml filter=git-crypt diff=git-crypt

